* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: url(../images/bg1.jpg) center no-repeat;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d2d2d2;
    animation: bgAnim 3s forwards ease-out;
  }
}
