.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 40px;
  padding-top: 75px;
  text-align: center;
  box-shadow: 0 6px 65px 0 rgba(0, 0, 0, .25);
  background-color: rgba(255, 255, 255, .9);
  animation: formAnim .5s linear;

  &__logo {
    position: absolute;
    top: -50px;
    left: 130px;
    animation: logoAnim .5s ease-in;
  }

  &__title {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__subtitle {
    margin-bottom: 35px;
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
  }

  &__input {
    height: 40px;
    padding: 0 8px;
    border: 1px solid $theme-secondary-color;

    &::placeholder {
      font-family: 'Helvetica Neue', sans-serif;
      color: rgba(0, 0, 0, 0.3);
      line-height: 16px;
    }

    &:hover::placeholder {
      color: rgba(0, 0, 0, 0.8);
    }

    &:focus {
      border: 2px solid $theme-color;
      box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.39);
    }

    &:focus::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &__login {
    margin-bottom: 20px;
  }

  &__password {
    margin-bottom: 25px;
  }

  &__checkbox {
    margin-bottom: 45px;
    font-size: 13px;
    color: $theme-secondary-color;
  }

  &__button {
    padding: 11px;
    color: white;
    border: none;
    background-color: $theme-color;

    &:hover {
      background-color: darken($theme-color, 5);
    }

    &:active {
      background-color: darken($theme-color, 10);
    }

    &:focus {
      outline: 1px solid $theme-secondary-color;
    }
  }
}
