.logo {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);

  &__item {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 5px;

    &--orange {
      top: 15px;
      left: 29px;
      background-color: #f8911d;
      animation: orangeAnim .5s forwards 0s ease-in;
    }

    &--pink {
      top: 29px;
      left: 43px;
      z-index: 1;
      opacity: .8;
      background-color: #d1369c;
      animation: pinkAnim .5s;
    }

    &--blue {
      top: 43px;
      left: 29px;
      background-color: $theme-color;
      animation: blueAnim .5s;
    }

    &--green {
      top: 57px;
      left: 43px;
      opacity: .8;
      background-color: #4ebf49;
      animation: greenAnim .5s;
    }
  }
}
